[submodule "Nett"]
	path = Nett
	url = https://github.com/hex11/Nett

[submodule "dns"]
	path = dns
	url = https://github.com/hex11/dns

[submodule "LiteDB"]
	path = LiteDB
	url = https://github.com/hex11/LiteDB
